<div id="header">
    <h5>North- 0213-6648237-9, Clifton- 021 35862937-9, Kemari- 021-32851880-3</h5>
</div>
<div id="care_connect">
    <h1>Care Connect</h1>
</div>
<div id="menu_bar">
    <table>
        <tr>
            <td><a href="/Home/Index">About</a></td>
        </tr>
        <tr>
            <td><a href="/Home/login">For Patient</a></td>
        </tr>
        <tr>
            <td><a href="/Home/login">For Doctor</a></td>
        </tr>

    </table>
</div>
